:root {
  --primary-color: #efef3a;
  --secondary-color: #474747;
  --background-color: #2f2f2f;
  --modeogta-gray: #747474;
  --modeogta-white: #fff;
  --modeogta-black: #000;

  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 20px;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$background-color: var(--background-color);
$modeogta-gray: var(--modeogta-gray);
$modeogta-white: var(--modeogta-white);
$modeogta-black: var(--modeogta-black);

$font-small: var(--font-small);
$font-medium: var(--font-medium);
$font-large: var(--font-large);
