@import "../../styles/variables.scss"; // 변수를 가져와서 사용

body {
  user-select: none; /* 드래그 방지 */
  overscroll-behavior: none;
}

.someUltimateCls {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.divider {
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  .clickable {
    width: 8px;
    height: 100px;
    background-color: #aaa;
    border-radius: 30px;
  }
  .clickable:hover {
    background-color: $modeogta-white;
  }
}

.list-container {
  max-height: 100vh; /* 최대 높이를 지정하여 스크롤 가능하게 만듦 */
  overflow-y: auto; /* 스크롤을 자동으로 활성화 */
  padding-right: 10px; /* 스크롤바가 겹치는 경우 방지 */
}

/* 스크롤바 디자인 */
.list-container::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

.list-container::-webkit-scrollbar-thumb {
  background-color: #444; /* 스크롤바 손잡이 색상 */
  border-radius: 10px; /* 손잡이 둥글게 */
}

.list-container::-webkit-scrollbar-track {
  background-color: #333; /* 트랙 배경 색상 */
  border-radius: 10px; /* 트랙 둥글게 */
}

/* 호버 시 손잡이 색상 변경 */
.list-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    120,
    120,
    0
  ); /* 호버 시 손잡이 색상 변경, 약한 노란색 */
}

.iconBundle {
  display: flex; // flexbox 사용
  align-items: center; // 세로 중앙 정렬
  gap: 10px; // 아이콘 간 간격
  padding-left: 20px;
  cursor: pointer;
}

.main {
  padding: 0px 25vw;
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  align-items: center; /* 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이 */
  padding-top: 20vh;
}

.keyboard-text {
  background-color: $modeogta-gray;
  border-radius: 2px;
  padding: 2px 4px;
  margin: 0px 4px;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: #202020;
  font-weight: bold; /* 글자 볼드 */
}

.stroke-box {
  width: 80vw;
  height: auto;
  background-color: transparent;
  border: 2px solid $primary-color;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  overflow: visible;
  margin-bottom: 24px;

  .typing-text {
    width: calc(100% - 80px); /* 80px은 좌우 padding 값(40px * 2)을 빼는 값 */
    height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    color: $primary-color;
    resize: none;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    margin-top: 24px;
    z-index: 1;
    line-height: 2.7;
  }

  .hint-text {
    width: 100%;
    text-align: start;
    color: $modeogta-gray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative; /* 상대 위치 */
    z-index: 0; /* typing-text 아래에 위치하도록 설정 */
    line-height: 2.7; /* 기본보다 더 크게 설정해서 줄 간격 늘리기 */
  }
}

.allScriptHeader {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}

.custom-textfield .MuiOutlinedInput-root {
  border-radius: 8px; /* 둥근 테두리 */
  background-color: $modeogta-gray; /* 연한 배경색 */
  height: 40px;
  color: $primary-color; /* 기본 글자 색상 */
  top: 50%; /* 라벨을 위쪽으로 조정 */
  transform: translateY(-50%); /* 정확히 중앙 정렬 */
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: $primary-color; /* 포커스 시 테두리 색 */
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
  color: $primary-color; /* 포커스 시 라벨 색상 */
}
.custom-textfield .MuiInputLabel-root {
  color: $modeogta-black; /* 그냥 라벨 색상 */
}

.reset-button {
  color: $modeogta-gray;
  border-color: transparent;
  border-radius: 12px;
  margin-top: 24px;
  padding: 18px 42px;
  font-size: 18px;
  background-color: transparent;
}

@keyframes dialog-enter {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes dialog-exit {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}

.result-dialog.dialog-enter {
  animation: dialog-enter 0.3s ease-out forwards;
}

.result-dialog.dialog-exit {
  animation: dialog-exit 0.3s ease-in forwards;
}

.status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
  padding-top: 16px;
}

.status {
  width: 100%;
  border: 2px solid $primary-color;
  margin: 0px;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
}

.side-drawer-icon {
  color: $primary-color;
  width: 36px;
  height: 36px;
}
.side-drawer-arrow {
  color: $background-color;
  background-color: $primary-color;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 5px;
}

.typing-script-item {
  color: $modeogta-white;
  padding: 24px 32px;
}
.typing-script-item:hover {
  color: $modeogta-white;
  background-color: $modeogta-hover;
}

.color {
  color: $primary-color;
}
