@import "../../styles/variables.scss"; // 변수를 가져와서 사용

html,
body {
  height: 100%; /* html과 body 모두 100% */
  margin: 0; /* 기본 여백 제거 */
}

#root {
  height: 100%; /* React 루트 요소도 100%로 확장 */
}

.setting-menu-wrap {
  display: flex; /* 또는 grid */
  gap: 12px; /* 내부 요소 간 간격 */
  justify-content: center; /* 가로 정렬 */
  align-items: start; /* 세로 정렬 */
  flex-direction: column; /* 요소들을 세로로 배치 */
  margin: 0px 48px;
  padding-top: 120px;
}

.setting-menu {
  color: $modeogta-gray;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 16px;
  cursor: pointer;
}
.setting-menu:hover {
  color: $modeogta-white;
}

.setting-arrow {
  transition: transform 0.3s ease;
}
.setting-arrow.rotate {
  transform: rotate(90deg);
}

.menu-content {
  overflow: hidden;
  max-height: 0;
  width: 100%;
  margin: 0px 16px;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease-out, opacity 0.2s ease-out,
    transform 0.3s ease-out;
}
.menu-content.open {
  max-height: 2000px; /* 실제 내용 크기에 맞춰 조정 */
  opacity: 1;
  transform: translateY(0);
  transition: max-height 0.3s ease-in, opacity 0.2s ease-in,
    transform 0.5s ease-in;
}

.setting-description {
  grid-area: text;
  font-weight: bold;
  font-size: medium;
  color: $modeogta-white;
  margin-top: 0;
  margin-bottom: 40px;
}

.setting-label {
  grid-area: title;
  font-weight: bold;
  font-size: medium;
  color: $modeogta-gray;
  margin-bottom: 14px;
}

.section {
  display: grid;
  grid-template-areas:
    "label text"
    "buttons buttons";
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
}

.icon-label {
  grid-area: label;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 트랙 색상 변경 */
input[type="range"]::-webkit-slider-runnable-track {
  background: $secondary-color; /* 트랙 색상 */
  height: 1.2rem; /* 트랙의 높이 */
  border-radius: 10px; /* 트랙의 둥근 모서리 */
}

/* 슬라이더 thumb 색상 및 크기 */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 6vw; /* thumb 크기 */
  height: 1.2rem;
  border-radius: 10px; /* thumb 모양을 원형으로 */
  background-color: $primary-color; /* thumb 색상 */
  cursor: pointer; /* 마우스를 올리면 포인터로 변경 */
}

.buttons {
  grid-area: buttons;
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
  gap: 0.5rem;
  margin-top: -40px;
  margin-bottom: 2rem;
}
.single-button {
  padding: 12px 16px;
  border-radius: 6px;
  border: transparent;
  background-color: $secondary-color;
  color: $modeogta-white;
  font-weight: bold;
  transition: background-color 0.2s ease;
  &:active {
    background-color: $primary-color;
    color: $modeogta-black;
  }
  &:hover {
    background-color: $modeogta-white;
    color: $modeogta-black;
  }
}
.active {
  background-color: $primary-color;
  color: $modeogta-black;
}

.background-url {
  padding: 12px 16px;
  border-radius: 6px;
  border: 2px solid transparent; // 기본 테두리 투명
  background-color: $secondary-color;
  color: $modeogta-white;
  font-weight: bold;
  width: 22vw;
  transition: border 0.3s ease-in-out; // 부드러운 효과

  &:focus {
    outline: none; // 기본 아웃라인 제거
    border-color: $primary-color; // primary 색상으로 테두리 변경
  }
}

.background-url-button {
  color: $primary-color; // 기본 아이콘 색상
  background-color: $secondary-color; // 기본 배경 투명
  transition: all 0.1s ease-in-out;
  padding: 12px 16px;
  border-radius: 6px;

  &:hover {
    background-color: $modeogta-gray; // 호버 시 약간의 배경색 추가
  }

  &:active {
    background-color: $primary-color; // 클릭 시 더 강한 색상
    color: $secondary-color;
  }
}
