body,
html {
  height: 100%;
  overflow: hidden; /* 스크롤 방지 */
}

body {
  user-select: none; /* 드래그 방지 */
}

input {
  all: unset; /* 모든 기본 스타일 제거 */
  background-color: transparent;
  width: 100%;
  position: absolute;
  border-radius: 15px;
}

input:focus {
  outline: none; /* 포커스 시 기본 아웃라인 제거 */
}

.background {
  background-color: black;
  padding: 25vw;
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  align-items: center; /* 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이 */
  z-index: -100;
}

.hint-text {
  text-align: start;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #747474;
}

.typing-text {
  text-align: start;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
}

.stroke-box {
  width: 80vw; /* 박스 너비 */
  height: wrap; /* 박스 높이 */
  background-color: transparent; /* 박스 내부 색상 */
  border: 2px solid yellow; /* 테두리 두께와 색상 */
  border-radius: 15px; /* 모서리를 둥글게 */
  display: flex; /* 중앙 정렬을 위한 설정 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: start; /* 가로 중앙 정렬 */
  position: relative;
  padding: 0px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 선택사항: 박스 그림자 */
}
