@import "./styles/variables.scss"; // 변수를 가져와서 사용

p,
textarea {
  font-weight: bold;
}

button {
  cursor: pointer;
}
button:hover {
  color: $primary-color;
  transition: color 0.3s ease; /* 부드러운 색 변경 */
}

.text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: $modeogta-gray;
  font-weight: bold;
}

/* 모바일 화면 */
@media screen and (max-width: 600px) {
  .text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: $modeogta-gray;
    font-weight: bold;
  }
}

/* 태블릿 화면 */
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: $modeogta-gray;
    font-weight: bold;
  }
}
