body,
html {
  overflow: hidden; /* 스크롤 방지 */
}

body {
  user-select: none; /* 드래그 방지 */
}

input {
  all: unset; /* 모든 기본 스타일 제거 */
  background-color: transparent;
  width: 100%;
  position: absolute;
  border-radius: 15px;
}

input:focus {
  outline: none; /* 포커스 시 기본 아웃라인 제거 */
}

.background {
  background-color: black;
  padding: 0px 25vw;
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  align-items: center; /* 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이 */
}

.keyboard-text {
  background-color: #747474;
  border-radius: 2px;
  padding: 0px 4px;
  margin: 0px 4px;
  font-size: small;
  color: #202020;
}

.typing-text {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  resize: none; /* 크기 조정 비활성화 */
  overflow: hidden; /* 스크롤바 비활성화 */
  overflow-wrap: break-word; /* 단어 줄바꿈 */
  padding: 0; /* 텍스트와의 여백 제거 */
  margin: 0; /* 외부 여백 제거 */
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box; /* 패딩 포함 */
  position: relative; /* 부모 요소를 기준으로 위치 */
}

.text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #747474;
}

.hint-text {
  width: 100%; /* 부모 요소와 동일한 너비 */
  text-align: start;
  color: #747474;
  margin: 0; /* 외부 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
  box-sizing: border-box; /* 패딩 포함 */
  position: absolute;
}

.stroke-box {
  width: 80vw; /* 박스 너비 */
  background-color: transparent; /* 박스 내부 색상 */
  border: 2px solid yellow; /* 테두리 두께와 색상 */
  border-radius: 15px; /* 모서리를 둥글게 */
  display: flex; /* 유연한 정렬을 위해 flex 사용 */
  flex-direction: column; /* 위아래로 정렬 */
  position: relative;
  padding: 0 20px; /* 좌우 여백 */
  box-sizing: border-box; /* 패딩 포함 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 선택사항: 박스 그림자 */
}

.header {
  background-color: #202020;
  border-radius: 15px;
  padding: 0px 24px;
}

.header-background {
  background-color: black;
  padding: 24px;
}

/* 로고 이미지 스타일 */
.header-logo {
  width: 10ic; /* 로고 크기 */
  height: fit-content; /* 로고 크기 */
  object-fit: cover; /* 비율 유지하면서 로고 표시 */
  margin-right: 10px; /* 텍스트와의 간격 */
}

.reset-button {
  color: #747474;
  border-color: transparent;
  border-radius: 12px;
  margin-top: 24px;
  padding: 18px 42px;
  font-size: 18px;
  background-color: transparent;
}

@keyframes dialog-enter {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes dialog-exit {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}

.result-dialog.dialog-enter {
  animation: dialog-enter 0.3s ease-out forwards;
}

.result-dialog.dialog-exit {
  animation: dialog-exit 0.3s ease-in forwards;
}
