@import "./styles/variables.scss"; // 변수를 가져와서 사용

p,
textarea {
  font-weight: bold;
}

button {
  cursor: pointer;
}
button:hover {
  color: $primary-color;
  transition: color 0.3s ease; /* 부드러운 색 변경 */
}

.text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: $modeogta-gray;
}
